*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.main{
    width: 100%;
    min-height: 100vh;
    
}

.top{
    width: 100%;
    min-height: 50vh;
    background-image: url(https://images.unsplash.com/photo-1504384308090-c894fdcc538d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position:center;
}

.overlay{
    width: 100%;
    min-height: inherit;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
}

.text{
    align-items: center;
    width: 100%;
    position: absolute;
    padding: 0 10vw;
    color: #D0DDD0;
    bottom: 20%;
    display: flex;
    justify-content: space-between;
}

.text-2{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-2 p{
    font-size: 12px;
    width: 40%;
}

.text-2 i{
    color: #9F5255;
}

.text h1{
    font-size: 5vw;
    font-weight: 500;
    
}

.bottom{
    min-height: 50vh;
    background-color: lightsalmon ;
    display: flex;
    /* border: 2px solid black; */
}

.one{
    width: 25%;
    min-height: inherit;
    background-color: darkslategray;
    padding: 30px;
    /* background-image: url(https://media.istockphoto.com/id/2150988877/photo/professional-man-working-on-laptop-in-modern-office.jpg?s=1024x1024&w=is&k=20&c=biJEmAUXZoFqbZ482erRCZN5hi0QFijM-pteNJu2YI0=);
    background-size: cover;
    background-position: top; */
    align-content: center;
}

.one p{
    font-size: 15;
    margin-top: 20px;
    
}

.two{
    width: 25%;
    min-height: inherit;
    background-image: url(https://images.unsplash.com/photo-1549692520-acc6669e2f0c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Y29kZXJzfGVufDB8fDB8fHww);
    background-size: cover;
    background-position: center;
}

.three{
    width: 20%;
    min-height: inherit;
    
}

.three-top{
    width: 100%;
    height: 50%;
    background-color: #7C444F;
    padding: 30px;
    color: #fff;
}

.three-top h4{
    font-size: 18px;
    color: darkorange;
}

.three-top p{
    margin-top: 10px;
    font-size: 16px;
    color: #F0BB78;
}

.three-bottom{
    width: 100%;
    height: 50%;
    background-color: #F0BB78;
    background-image: url(https://images.unsplash.com/photo-1619410283995-43d9134e7656?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: top;
}




.four{
    width: 30%;
    min-height: inherit;
    padding: 30px;
    background-color: #27667B;
    color: #fff;
}

.four h3{
    color: #111;
}

.not{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    
}

.not .photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(https://plus.unsplash.com/premium_photo-1682216872195-0bfacc36b02c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8bG9nb3xlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    background-position: top;
    background-color: #7C444F;
    
}

.not p{
    width: 86%;
    font-size: 17px;
    
}

@media (max-width:500px) {
    .overlay .text{

        flex-direction: column;
        align-items: flex-start;
    }

    .overlay .text .text-2{
        flex-direction: column;
    }
    .overlay .text .text-2 p{
        width: initial;
        margin-top: 20px;

    }
    
}